html {
    font-size: 14px;
}

body {
    max-width: 700px;
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    margin-bottom: 1rem;
}

@media screen and (max-width : 500px){
    html {
        font-size: 11px;
    }
}
    
}